
<ul class="toc">
	<li>...</li>
</ul>


<div class="sector">

	<h1>Hacking</h1>

	<div class="project">
		<h2>alambert.net</h2>

		<h3>Technology:</h3>
		<ul>
			<li>Angularjs</li>
			<li>Yahoo Pure.css for styling</li>
			<li>SCSS</li>
			<li>Hosted on github pages</li>
		</ul>

		<h3>Todo:</h3>
		<ul>
			<li>ECMAScript 6+</li>
			<li><a href="http://operatino.github.io/MCSS/en/" target="_blank">MCSS</a></li>
			<li><a href="https://www.mapbox.com/design/">Mapbox</a></li>
			<li>SSL</li>
			<li>Use REST Cloud Datastore</li>
		</ul>
	</div>

	<div class="project">
		<h2>Services</h2>
		<ul>
			<li>cdn</li>
			<li>imagescaling</li>
			<li>browsershots</li>
		</ul>
	</div>

	<div class="project">
		<h2>andre.website</h2>
		<p>Just for playing</p>

		<h3>Todo:</h3>
		<ul>
			<li>nodejs</li>
			<li>sockets</li>
			<li>ipv6</li>
			<li>amazon</li>
			<li>offline first</li>
			<li>emoji</li>
			<li>clientside auth</li>
			<li>nginx auth</li>
			<li>css4 + flex</li>
			<li>smacks</li>
			<li>mail envelope/headers</li>
		</ul>
	</div>
</div>

<div class="sector">

	<h1>Consultancy</h1>

	<div class="project">
		<h2>lambert.work, TODO</h2>
		<ul>
			<li>ruby</li>
			<li>vanillajs</li>
			<li>Canvas</li>
			<li>webintents</li>
			<li>webcomponents</li>
			<li>dns</li>
		</ul>
	</div>

	<div class="project">
		<h2>OMR, TODO</h2>
		<ul>
			<li>reactjs</li>
			<li>linode</li>
			<li>http2.0</li>
			<li>webp</li>
			<li>pickturefill</li>
			<li>font(ello)</li>
		</ul>
	</div>


</div>

<div class="sector">

	<h1>Gardening</h1>

	<div class="project">
		<h2>TuinTuin frontend</h2>
		<ul>
			<li>Mobile first responsive design</li>
			<li>Custom login/register flow</li>
		</ul>
	</div>

	<div class="project">
		<h2>TuinTuin backend</h2>
		<ul>
			<li>Python (Flask)</li>
			<li>Read/write Content API</li>
			<li>Mandrill mailing</li>
			<li>Postgres</li>
			<li>Redis</li>
			<li>HA Proxy</li>
		</ul>

		<h3>Todo:</h3>
		<ul>
			<li>Finish RabbitMQ + celery setup</li>
		</ul>
	</div>

	<div class="project">
		<h2>Tuinentips</h2>
		<p>...</p>
	</div>
</div>

<div class="sector">
	<div class="project">
		<h2>Health</h2>
		<p>... several sites ...</p>
		<ul>
			<li>CMS</li>
			<li>SEO</li>
			<li>eBooks</li>
		</ul>
	</div>
</div>

<div class="sector">

	<h1>Government</h1>

	<div class="project">
		<h2>Fire department</h2>
		<p>Developed and maintained...</p>
		<ul>
			<li>Newsletters</li>
			<li>Inventory</li>
			<li>Private section</li>
		</ul>
	</div>
</div>


<div class="sector">
	<h2>Finance</h2>

	<div class="project">
		<h2>Binck</h2>
		<p>....</p>
		<ul>
			<li></li>
			<li>Responsive mobile first design</li>
			<li>CSS Animation</li>
			<li>Rapid development</li>
			<li>Hosted on Amazon</li>
			<li>Tagmanagement</li>
		</ul>
	</div>

	<div class="project">
		<h2>Stock market</h2>
		<p>... several sites ...</p>
		<ul>
			<li>Wordpress</li>
			<li>Adsense</li>
		</ul>
	</div>

</div>


<div class="sector">

	<h1>Corporate</h1>

	<div class="project">
		<h2>Lilabo, todo</h2>
		<ul>
			<li>golang</li>
			<li>GAE</li>
			<li>cloud storage</li>
			<li>css filters</li>
			<li>foundation</li>
		</ul>
	</div>
</div>


<div class="sector">

	<h1>Media</h1>

	<div class="project">
		<h2>Telegraaf community</h2>
		<p>....</p>
		<ul>
			<li>Drupal</li>
		</ul>
	</div>

	<div class="project">
		<h2></h2>
		<p>....</p>
		<ul>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
